<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Material Design Lite -->
	<link rel="stylesheet" href="/mdlite/material.indigo-pink.min.css">
	<script src="/mdlite/material.min.js"></script>

	<link rel="stylesheet" href="/css/frame.css">
	<title>Milu</title>
</head>

<body>
	<div class="container">
		<div class="form-signin-heading">
			<h1>Milu</h1>
			<span>Gallery Search Engine</span>
		</div>
		<h3 class="form-subheader">Lets start from</h3>
		<div class="form-subheader form-subheader-big">
			<button id="glogin" class="mdl-button btn-big">
				<img class="btn-img" src="/imgs/gphoto.png" />
				<p>Google Photo</p>
			</button>
			<button id="uploadimg" class="mdl-button btn-big">
				<img class="btn-img" src="/imgs/upload.png" />
				<p>Upload images to try</p>
			</button>
		</div>
		<!-- 20180710 Rico:: work on this later, need UI to create user first -->
		<div class="modal-wrapper" hidden>
			<button id="show-dialog" type="button" class="mdl-button">Log In</button>
			<dialog class="mdl-dialog">
				<form class="form-signin" onSubmit={this.onSubmit}>
					<h4 class="mdl-dialog__title">Log In</h4>
					<div class="mdl-dialog__content">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="text" name="username" id="email" />
							<label class="mdl-textfield__label" for="email">Email address</label>
						</div>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="password" name="password" id="password" />
							<label class="mdl-textfield__label" for="password">Password</label>
						</div>
						<button type="button" class="mdl-button close">Cancel</button>
						<button class="mdl-button" type="submit">Go</button>
					</div>
				</form>
			</dialog>
		</div>
		<form name="uploadImgForm" method="POST" action="/uploadImg" enctype="multipart/form-data">		
			<input class="mdl-textfield__input" type="file" id="imgInput" name="pics" accept="image/*" multiple hidden>
		</form>
		
		<script src="/js/jquery.slim.min.js"></script>

		<script>
			$(document).ready(function () {
				$('#glogin').on('click', function (e) {
					// Make the request to the backend to log in.
					window.location = "/auth/google";
				})

				var dialog = document.querySelector('dialog');
				var showDialogButton = document.querySelector('#show-dialog');
				if (!dialog.showModal) {
					dialogPolyfill.registerDialog(dialog);
				}
				showDialogButton.addEventListener('click', function () {
					dialog.showModal();
				});
				dialog.querySelector('.close').addEventListener('click', function () {
					dialog.close();
				});
				
				$('#uploadimg').on('click', function (e) {
					$('#imgInput').click();
				});

				$('#imgInput').on("change", function(){ 
					document.uploadImgForm.submit();
				});

			});
		</script>
</body>

</html>