<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Material Design Lite -->
	<link rel="stylesheet" href="/mdlite/material.indigo-pink.min.css">
	<script src="/mdlite/material.min.js"></script>

	<link rel="stylesheet" href="/css/frame.css">
	<title>Photo Frame Sample</title>
</head>

<body>
	<div class="container">
		<div class="form-signin-heading">
			<h1>Milu</h1>
			<span>Gallery Search Engine</span>
		</div>
		<h3 class="form-subheader">Lets start from</h3>
		<div class="form-subheader form-subheader-big">
			<button id="glogin" class="mdl-button btn-big">
				<img class="btn-img" src="/imgs/gphoto.png" />
				<p>Google Photo</p>
			</button>
			<button id="uploadimg" class="mdl-button btn-big">
				<img class="btn-img" src="/imgs/upload.png" />
				<p>Upload images to try</p>
			</button>
		</div>
		<div class="modal-wrapper">
			<button id="show-dialog" type="button" class="mdl-button">Log In</button>
			<!-- <button onClick={this.handleOpen} class="modal-toggle">
				<p>Log In</p>
			</button> -->
			<dialog class="mdl-dialog">
				<form class="form-signin" onSubmit={this.onSubmit}>
					<h4 class="mdl-dialog__title">Log In</h4>
					<!-- {message !== '' &&
						  <div class="alert alert-warning alert-dismissible" role="alert">
							{ message }
						  </div>
						} -->
					<div class="mdl-dialog__content">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="text" name="username" id="email" />
							<label class="mdl-textfield__label" for="email">Email address</label>
						</div>
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
							<input class="mdl-textfield__input" type="password" name="password" id="password" />
							<label class="mdl-textfield__label" for="password">Password</label>
						</div>
						<button type="button" class="mdl-button close">Cancel</button>
						<button class="mdl-button" type="submit">Go</button>
					</div>
				</form>
			</dialog>
		</div>
		<form name="uploadImgForm" method="POST" action="/uploadImg" enctype="multipart/form-data">		
			<input class="mdl-textfield__input" type="file" id="imgInput" name="pic" accept="image/*" hidden>
		</form>
		<!-- <header class="demo-header mdl-layout__header--fixed-header mdl-color--primary mdl-color-text--white">
			<div class="mdl-layout__header-row">
			          <span class="mdl-layout-title">Photo Frame Sample</span>
			          <div class="mdl-layout-spacer"></div>
			          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded" data-upgraded=",MaterialTextfield">

			          </div>
			        </div>
		</header>
		<main class="demo-main mdl-layout__content">
			<div class="page-content mdl-grid">
				<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
					 <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
						<div class="login-img">
                		  		<img src="/imgs/Photo-frame-illustration.png" alt="Photo frame illustration">
						</div>
						  	 <h3>Set up your Photo Frame</h3>
							 <p>Put your favorite moments on display. To get set up, connect Photo Frame to your photo library.</p>
						  	 <p>
								 <button class="gp-button raised" id="login">
									Connect to Google Photos
								 </button>
						 	 </p>
               	  		</div>
			  	 	</div>
           </main>
	   </div> -->

		<script src="/js/jquery.slim.min.js"></script>

		<script>
			$(document).ready(function () {
				$('#glogin').on('click', function (e) {
					// Make the request to the backend to log in.
					window.location = "/auth/google";
				})

				var dialog = document.querySelector('dialog');
				var showDialogButton = document.querySelector('#show-dialog');
				if (!dialog.showModal) {
					dialogPolyfill.registerDialog(dialog);
				}
				showDialogButton.addEventListener('click', function () {
					dialog.showModal();
				});
				dialog.querySelector('.close').addEventListener('click', function () {
					dialog.close();
				});
				
				$('#uploadimg').on('click', function (e) {
					$('#imgInput').click();
				});

				$('#imgInput').on("change", function(){ 
					document.uploadImgForm.submit();
				});

			});
		</script>
</body>

</html>