<% include ../partials/head %>
<% include ../partials/dialogs %>

<section class="sample-content">
   

<h2>OCR Online Tool</h2>
<p>public url: <%= imgurl %></p>
<p>words: <%= para %></p>
<img src=<%= imgurl %> alt="Trulli" style="border: 1px solid #000; max-width:800px; max-height:800px;" >


</section>


<% include ../partials/js %>
<% include ../partials/footer %>


