<% include ../partials/head %>
<% include ../partials/dialogs %>

<section class="sample-content">

<h2>OCR Online Tool</h2>
    <% for (url in urlsAndTexts) { %>
        <p>public url: <%= url %></p>
        <p>detection: <%= urlsAndTexts[url] %></p>
        <img src=<%= url %> alt="Trulli" style="border: 1px solid #000; max-width:800px; max-height:800px;">
        <hr />
    <% } %>
</section>


<% include ../partials/js %>
<% include ../partials/footer %>


