<% include ../partials/head %>

<% include ../partials/dialogs %>
<section class="sample-content">
	<h2>Load from search</h2>
	<p class="subhead mdl-color-text--grey-700">Load photos into your photo frame from your Google Photos Library.</p>

<form id="filter">

    <!-- Accent-colored raised button with ripple -->
    	<div class="floating-button">
            <button  type="submit" name="button_1" value="Search" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                <i class="material-icons">search</i>
				<span class="float-btn-label">Show All</span>
            </button>
        </div>

</form>

<form id="scan">
	<div class="floating-button2">
		<button  type="submit" name="button_2" value="Update" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
			<i class="material-icons">cloud</i>
			<span class="float-btn-label">OCR Scan All Photos</span>
		</button>
	</div>
</form>

<form id="find">
	<div class="floating-button3">
		<button  type="submit" name="button_3" value="Find" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
			<i class="material-icons">title</i>
			<span class="float-btn-label">Text Search</span>
		</button>
	</div>
</form>

</section>

<% include ../partials/js %>
<script src="/js/search.js"></script>

<% include ../partials/footer %>